<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="4.0">

    <display-name>StudentManagement</display-name>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.sms.servlet.AuthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

</web-app>
